.darkmode{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0F0E0E;
    color: #D5D1D2;
    border: 1px solid #0F0E0E;
    margin-bottom: 125px;
}

.lightmode{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D5D1D2;
    color: #0F0E0E;
    border: 1px solid #D5D1D2;
    margin-bottom: 125px;
}

body.dark{
    font-family: var(--body-font);
    font-weight: 200;
    background: #0F0E0E;
    color: #D5D1D2;
    transition: all 0.2s ease-in-out;
}

.options_alignment{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:480px){
    .darkmode, .lightmode{
        margin-bottom: 25px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}