.header_bg_dark{
    background-image: url('../Img/header_bg_dark.jpg');
    background-size: cover;
    height: 600px;
}

.header_bg_light{
    background-image: url('../Img/header_bg_light.jpg');
    background-size: cover;
    height: 600px;
}

.header_grid{
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
}

.photo{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos{
    padding-top: 100px;
}

.options{
    padding-top: 150px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

.coordonnees_spacing{
    display: flex;
    flex-direction: column;
}

.coordonnees{
    display: flex;
    align-items: center;
    margin: .6rem;
    padding-left: 50px;
}

.adress, .email, .phone, .linkedin_account, .github_account{
    margin-left: var(--spacing-1);
}