.header_bg_dark{
    background-image: url('../Img/header_bg_dark.jpg');
    background-size: cover;
    position: sticky;
    height: 600px;
}

.header_bg_light{
    background-image: url('../Img/header_bg_light.jpg');
    background-size: cover;
    position: sticky;
    height: 600px;
}

.photo{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portrait{
    height: 200px;
    border-radius: 50%;
}

.infos{
    padding-top: 100px;
}

.coordonnees_spacing{
    display: flex;
    flex-direction: column;
}

.coordonnees{
    display: flex;
    align-items: center;
    margin: .6rem;
    padding-left: 50px;
}

.adress, .email, .phone, .linkedin_account, .github_account{
    margin-left: var(--spacing-1);
}

.options{
    padding-top: 150px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

/* RESPONSIVE */
@media screen and (min-width:960px) {
    .header_grid{
      display: grid;
      grid-template-columns: 5fr 5fr 2fr;
    }
}

@media screen and (min-width:480px) and  (max-width:960px){

    .header_grid{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
      }
    .photo{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .infos{
        padding-top: 50px;
    }
    .coordonnees_spacing{
        display: inline;
        flex-direction: column;
    }
    .options{
        padding-top: 75px;
    }
}

@media screen and (max-width:480px){
    .photo{
        padding-top: 10px;
    }
    .portrait{
        height: 100px;
    }
    .name{
        font-size: var(--h2-font-size);
    }
    .infos{
        padding-top: 5px;
    }
    .header_title{
        text-align: center;
    }
    .coordonnees_spacing{
        display: inline;
        flex-direction: column;
    }
    .coordonnees{
        display: flex;
        align-items: center;
        margin: 0;
        font-size: .8rem;
        padding-left: 80px;
    }
    .options{
        position: absolute;
        top: -120px;
        right: 25px;
    }
}